
<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <!-->
<html lang="zxx">
<!--
<![endif]-->

<head>
    <!-- TITLE OF SITE -->
    <title>
        (SPS) SPARE PART SYSTEM
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="(SPS) SPARE PART SYSTEM" />
    <meta name="keywords" content="(SPS) SPARE PART SYSTEM" />
    <meta name="author" content="SPS">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">


    <!-- CSS Begins
================================================== -->
    <!--Animate Effect-->


    <!-- CSS Begins -->
    <!-- ... -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/hover.css' %}" rel="stylesheet">
    <!-- ... -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- ... -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <!-- ... -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <!-- ... -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- ... -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ::::::::::::::::::::::::::: Start: Preloader section ::::::::::::::::::::::::::: -->
    <div id="preloader"></div>
    <!-- ::::::::::::::::::::::::::: End: Preloader section ::::::::::::::::::::::::::: -->

    <!-- Start: Header Section
==================================================-->

<div id="sticky-wrapper" class="sticky-wrapper" style="height: 99px;"><div class="navigation">
    <div class="container">
        <div class="row">
            <div class="logo col-md-2 col-sm-12">
                    <h4 href="index.html" style="padding:2rem">
                        <a href="/">

                        Home
                        </a>

                    </h4>
            </div>



        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</div></div>

        {% block body %}


        {% endblock %}

        <!-- Scripts -->
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <!-- ... -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- ... -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
